@CHARSET "ISO-8859-1";

span.questionText {
	display: inline-block;
	margin-right: 20px;
	background-color: rgb(239, 247, 255);
	width: 50%;
	padding: 20px;
	-webkit-box-shadow: 3px 3px 5px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow: 3px 3px 5px 0px rgba(50, 50, 50, 0.75);
	box-shadow: 3px 3px 5px 0px rgba(50, 50, 50, 0.75);
}

.sapMCLI>.sapMLIBContent {
	padding: 20px;
}

span.yesVotesLabel {
	background-color: rgb(205, 255, 195);
	padding: 5px;
}

span.yesVotes {
	background-color: rgb(205, 255, 195);
	padding: 5px 5px 5px 0px;
	margin-right: 5px;
}

span.noVotesLabel {
	background-color: rgb(255, 195, 195);
	padding: 5px;
}

span.noVotes {
	background-color: rgb(255, 195, 195);
	padding: 5px 5px 5px 0px;
	margin-right: 5px;
}

span.secondsRemaining {
	margin-right: 5px;
	font-family: monospace;
}

.bar-Yes {
	fill: rgb(165, 255, 136);
}

.bar-No {
	fill: rgb(255, 136, 136);
}

.bar-No:hover {
	fill: red;
}

.bar-Yes:hover {
	fill: green;
}

.axis {
	font: 24px sans-serif;
}

.axis path,.axis line {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}

.x.axis path {
	display: none;
}

div#admin--chartContainer {
	margin-top: 20px;
	margin-left: 40px;
	text-align: center;
}

div#QuestionTextInput {
	width: 100%;
}

svg#admin--chart {
	padding-left: 40px;
	padding-top: 10px;
}